{{template "layout" .}}

{{define "title"}}
	My eventbrite clone
{{end}}

{{define "content"}}
<h1 class="title">Class project starter</h1>
<p>
	Here's the page about our team - Supersaiyan!

	rich-armadillo, 
	
</p>
{{end}}