{{template "layout" .}}

{{define "title"}}
	My eventbrite clone
{{end}}

{{define "content"}}
<h1 class="title">Class project starter</h1>
<p>
	Hi, today is {{.Today.Format "Jan 02, 2006"}}
</p>
<p>
	Here's the page about our team!
</p>
{{end}}