{{template "layout" .}}

{{define "title"}}
	My eventbrite clone
{{end}}

{{define "content"}}
<h1 class="title">RSVPed to event successfully</h1>
<p>
	Here's the page where users RSVP to events
</p>
{{.}}
<p>Success!</p>

{{end}}